*{box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
margin:0.5px
}
body{font-family: Helvetica;
}
.items{
font-family: Verdana; 
background-color: rgb(36, 138, 175);
justify-content: space-between;
display: flex;
color: white;
width:100%;
padding:5px 3px 5px 1px
}
.items .items_first{
    /* width: ; */
    margin-left: 180px;
    font-size:16px;
}

.items_list a{
    color: white;
    text-decoration: dotted;
    font-weight: bold;
}

.items .items_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 4px;
    width:500px;
}

.begin{
    display: flex;
    font-size:30px;
    justify-content: space-around;
    padding:8ch 6ch 8ch 4ch;
    width:100%
}   
.middle{
    width:40%;
    padding: 5ch 3ch 1ch 1ch;
    
}
.middle_name {
    color:  rgb(21 114 147);
    text-align: left;
    padding-bottom:20px;
}

.middle_writing{
    color:black;
    text-align: left;
    
}

#dp{
    display: block;
  margin-left: 350px;
  margin-right: auto;
  width: 40%;
  padding-top:5ch;
}

header h1{color:white;
}
body .first{margin-left: 850px; font-size: medium;}


/* The footer*/
footer{
 padding: 0px 0px 0px 0px;
 background-color: rgb(227, 227, 230);
}
#part{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin: 1px 1px 1px 0px;
    font-family: Arial;
}
#part h1{
    margin-top: 0px;
    margin-left: 30px;
    color: rgb(71 154 171);
    padding: 50px 0px 25px 50px;
    font-weight: bold;
    font-size: 40px;
}

#part a{
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 13px 1px 15px 35px;
    width:10%;
    background-color:rgb(48, 142, 161);
    border-radius: 10px;
    margin: 60px 0px 20px 0px;
    text-decoration: dotted;
}
footer .desc{
    display:grid;
    grid: 450px / auto auto auto;
    width: 100%;
    grid-gap: 75px;
    justify-content: space-between;
    padding:12px;
    color: white;
    text-align: center;
    overflow: auto;
}
footer .desc .desc_item{
    display: grid;
    grid-template-columns:auto ;
    grid-template-rows: auto;
    padding: 25px 40px 25px 40px;
    margin: 10px 0px 10px 0px;
    width:45%;
    background-color:transparent;
    /* border-radius: 15px; */
    justify-content: space-around;
    font-size: 30px;    
    
}
footer .desc .desc_item img{
    height: 450px;
    width:  225%;
    border-radius: 25px;
    /* padding: 13px 5px 13px 5px; */
    margin: 5px 45px 5px 30px;
    }
footer .desc .desc_item h2{
    color:white ;
    font-weight: 200;
}
/* The footer ending */
.down{
    background-color:rgb(48, 142, 161);
    display: flex;
    width:100%;
    text-decoration: solid;
    
    }
    .ten_hag{
        width:50%
    }
    h2.third{
        font-family:Arial;
        padding: 4.1ch 5ch 4ch 7ch;
        color: white;
        font-size: 37px;
    }
    .brain{
        position:relative;
        margin: 74px 0px 0px 10px;
        bottom: -4px;
        left:128px;
        width:15%;
    }
    .nine{
        width:50%;
        display:flex;
        justify-content: right;
        
    }
    .down a{
    font-weight: bold;
    font-size: 24px;
    font-family: arial;
    text-decoration: dotted;
    /* color:rgb(48, 142, 161); */

    }
    .eleven {    
    background-color: white;
    height: 70px;
    text-align: center;
    width:18%;   
    padding-top: 15px;
    border-radius: 15px;
    margin: 160px 22px 20px 360px;
    text-decoration: dotted;
    }
    .eleven a{
        color:rgb(48, 142, 161);
        font-size: 30px;
        font-family:sans-serif;
    }
    
    .twelve {
    background-color:rgb(21 114 147);
    width:17%;
    height:70px;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    margin: 160px 15px 20px 10px;
    text-decoration: dotted;
     }
     .twelve a{
    color:white;
    font-size: 30px;
    font-family:sans-serif;
    }
    .leg{
        position: relative;
        margin: 0px 0px 0px 5px;
        top: 0px;
        right: 100px;
        height: 55px;
        width: 15%;
     }
div .finishing{
    font-family: Verdana; 
    background-color: rgb(21 114 147);
    text-align: center;
    color: white;
    padding: 15ch 0ch 20ch 0ch;
    margin-top:-1px;
    line-height: 3em;
}
.finishing a{
    color:white;
    text-decoration: dotted;
    font-size: 45px;
    font-family:auto
}
.finishing h3{
font-size: 35px;
}
img.icons{
    width: 45px; 
    height: 45px;  
}

/* Media- Responsive Small screens  */

@media screen and ( max-width:850px) {
    
    *{box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin:0px
        }
        
        .items{
        font-family: Verdana; 
        background-color: rgb(21 114 147);
        justify-content: space-between;
        display: flex;
        color: white;
        }
        .items .items_first{
            font-size: 25px;
            margin: 0px 2px 0px 20px;
        }
        
        header h1{color:white;
            font-size: 24px;
        }
        
        a{
            color: white;
            text-decoration: dotted;
            font-weight: bold;
        }
        
        .items .items_list{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 8px;
            padding: 2px;
            width:350px;
            margin: 0px 2px 0px 50px
        }

        .begin{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            width: 120%;
            justify-content: space-between;
            padding:6px;
        }   
        .middle{
            padding: 20px 0px 0px 1px;
            font-family: Arial;
            width:100%
        }

        .middle_name {color: rgb(21 114 147);
        text-align:left;
        line-height:2em;
        font-size: 40px;
        margin: 1px 92px 0px 5px
         }
        
        .middle_writing{
            color:black;
            font-size:30px;
            justify-items: left;
            margin: 1px 92px 0px 5px;
            
        }
        div #dp{
          display: block;
          margin-left: 30px;
          margin-right: auto;
          margin-top: 20px;
          width: 70%;
          
          
        }
        
        body .first{margin-left: 425px; font-size: medium;}

        
        
         
        /* The footer*/
        footer{
         padding: 4px 1px 20px 4px;
         background-color: rgb(227, 227, 230);
         margin-top: 5ch;
        }
        #part{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 1px 1px 1px 0px;
            font-family: Arial;
        }
        #part h1{
            margin-top: 0px;
            margin-left: 10px;
            color: rgb(71 154 171);
            padding: 50px 0px 25px 10px;
            font-weight: bold;
            font-size: 37px;
        }
        
        #part a{
            font-weight: bold;
            font-size: 20px;
            color: white;
            padding: 13px 1px 15px 1px;
            width:40%;
            background-color:rgb(48, 142, 161);
            border-radius: 10px;
            margin: 2ch;
            text-align: center;
        }
        
        
        footer .desc{
            display:flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            padding:6px;
            color: white;
            text-align: center;
            overflow: auto;
        }
        footer .desc .desc_print{
            padding: 10px 8px 10px 5px;
            width:40%;
            background-color:rgb(48, 142, 161);
            border-radius: 10px;
            justify-content: space-around; 
            margin: 0px 50px 20px 10px ;
            font-family:Arial ;
            
        }
        footer .desc .desc_print a{
            margin-top: 10px;
            margin-left: 5px;
            color: rgb(71 154 171);
            padding: 1px 1px 1px 1px;
            font-weight: bold;
            font-size: 20px;
            color: white;
        }

        footer .desc .desc_item{
            padding: 13px 5px 13px 5px;
            margin: 5px 5px 5px 5px;
            width:100%;
            background-color: transparent;
            border-radius: 8.5px;
            justify-content: space-around;
            font-size: 15px;    
            
        }
        footer .desc .desc_item img{
        height: 264px;
        width:  80%;
        border-radius: 10px;
        /* padding: 13px 5px 13px 5px; */
        margin: 5px 45px 5px 30px;
        }
        footer .desc .desc_item h2{
            color:white ;
            font-weight: 100;
        }
/* The footer ending  */

       
.down{
    background-color:rgb(48, 142, 161);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
   
    width:100%;
    text-decoration: solid;
    }
    .ten_hag{
        width:100%;
        height:240px;
    }
    h2.third{
        font-family:Arial;
        padding: 3ch 1ch 1ch 1ch;
        color: white;
        font-size:30px;
    }
    img.brain{
        width:0px;
    }
  
    .down a{
    font-weight: bold;
    font-size: 20px;
    color:rgb(48, 142, 161);
    font-size: 24px;
    font-family: arial;

    }
    .nine{
    display: flex;
    width:100%;
    justify-content:space-around;
    padding: 0ch 1ch 5ch 1ch; 
    }
    .eleven {
    background-color: white;
    width:40%;
    height:80%;  
    padding: 10px 5px 0px 5px;
    border-radius: 10px;
    margin: 1px 15px 20px 10px;
    
    }
    .twelve {
    background-color:rgb(21 114 147);
    width:40%;
    height:80%;
    padding: 10px 5px 0px 5px;
    border-radius: 10px;
    margin: 1px 15px 20px 10px;
     }  
.twelve a{
    color:white;
}
img.leg{
    width:0px;
}
            
  div .finishing{
 font-family: Verdana; 
 background-color: rgb(21 114 147);
 /* text-align:justify; */
 color: white;
 padding: 10px 0.5px 15px 15px;
}
.finishing a{
    color:white;
    text-decoration: dotted;
    font-size: 25px;
    font-family:auto
}
br.small{
    display: contents;
}
.finishing h3{
font-size: 30px;
}
img.icons{
    width: 24px; 
    height: 24px;
   
}  

}
/* Media Responsive big screens */
@media screen and ( max-width:1850px) and (min-width:850px){
    *{box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin:0.5px
        }
        body{font-family: Helvetica;
        }
        .items{
        font-family: Verdana; 
        background-color: rgb(36, 138, 175);
        justify-content: space-between;
        display: flex;
        color: white;
        padding:5px 3px 5px 1px
        }
        .items .items_first{
            /* width: ; */
            margin: 0px 2px 0px 20px
        }
        header h1{color:white;
            font-size: 30px;
        }
        a{
            color: white;
            text-decoration: dotted;
            font-weight: bold;
        }
        
        .items .items_list{
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 15px;
            padding: 3.5px;
            width:450px;
        }
        
        .begin{
            display: flex;
            font-size:30px;
            justify-content: space-around;
            padding:0ch 2ch 4ch 1ch;
            width:100%
        }   
        .middle{
            width:40%;
            padding: 4ch 1ch 1ch 1ch;
            
        }
        .middle_name {
            color:  rgb(21 114 147);
            text-align: left;
            padding-bottom:20px;
        }
        
        .middle_writing{
            color:black;
            text-align: left;
            
        }
        
        #dp{
            display: block;
          margin-left: 250px;
          margin-right: auto;
          width: 40%;
          padding-top:5ch;
        }
        
        
        header h1{color:white;
        }
        body .first{margin-left: 850px; font-size: medium;}
        
        
        /* The footer*/
        footer{
         padding: 4px 1px 20px 4px;
        }
        
        #part{
            display: flex;
            flex-direction: row;
            width: 95%;
            justify-content: space-between;
            margin: 1px 1px 1px 0px;
            font-family: Arial;
        }
        #part h1{
            margin-top: 0px;
            margin-left: 30px;
            color: rgb(71 154 171);
            padding: 50px 0px 25px 50px;
            font-weight: bold;
            font-size: 40px;
        }
        
        #part a{
            font-weight: bold;
            font-size: 17px;
            color: white;
            padding: 13px 1px 10px 14px;
            width:10%;
            background-color:rgb(48, 142, 161);
            border-radius: 10px;
            margin: 60px 0px 20px 0px;
        }
        footer .desc{
            display:grid;
            grid: 250px / auto auto auto;
            width: 97%;
            grid-gap: 150px;
            justify-content: space-between;
            padding:12px;
            color: white;
            text-align: center;
            overflow: auto;
            /* max-width: 1473px; */
        }
        footer .desc .desc_print{
            padding: 10px 8px 10px 5px;
            width:40%;
            background-color:rgb(48, 142, 161);
            border-radius: 10px;
            justify-content: space-around; 
            margin: 0px 50px 20px 10px ;
            font-family:Arial ;
            
        }
        footer .desc .desc_print a{
            margin-top: 10px;
            margin-left: 5px;
            color: rgb(71 154 171);
            padding: 1px 1px 1px 1px;
            font-weight: bold;
            font-size: 20px;
            color: white;
        }   


        footer .desc .desc_item{
            padding: 15px 9px 12px 9px;
            margin: 3px 40px 7px 30px;
            width: 75%;
            background-color:transparent;
             border-radius: 12px;
            justify-content: space-around;
            font-size: 20px;    
            
        }
        footer .desc .desc_item img{
            height: 350px;
            width:  180%;
            border-radius: 20px;
            /* padding: 13px 5px 13px 5px; */
            margin: 5px 45px 5px 30px;
            }
        footer .desc .desc_item h2{
            color:white ;
            font-weight: 200;
        }
      /*The footer ending  */

      .down{
        background-color:rgb(48, 142, 161);
        display: flex;
        width:100%;
        text-decoration: solid;
        
        }
        .ten_hag{
            width:50%
        }
        h2.third{
            font-family:Arial;
            padding: 3.1ch 2ch 4ch 2ch;
            color: white;
            font-size: 37px;
        }
        .brain{
            position:relative;
            margin: 74px 0px 0px 10px;
            bottom: -4px;
            left: 35px;
            width:20%;
        }
        .nine{
            width:50%;
            display:flex;
            justify-content: right;
            
        }
        .down a{
        font-weight: bold;
        font-size: 24px;
        font-family: arial;
        text-decoration: dotted;
        /* color:rgb(48, 142, 161); */
    
        }
        .eleven {    
        background-color: white;
        height: 65px;
        text-align: center;
        width:100%;   
        padding-top: 17px;
        border-radius: 15px;
        margin: 110px 45px 10px 150px;
        text-decoration: dotted;
        }
        .eleven a{
            color:rgb(48, 142, 161);
            font-size: 24px;
            font-family:sans-serif;
        }
        
        .twelve {
        background-color:rgb(21 114 147);
        width:100%;
        height:65px;
        text-align: center;
        padding-top: 15px;
        border-radius: 15px;
        margin: 110px 15px 20px 10px;
        text-decoration: dotted;
         }
         .twelve a{
        color:white;
        font-family:sans-serif;
        }
        .leg{
            position: relative;
            margin: 0px 0px 0px 5px;
            top: 0px;
            right: 100px;
            height: 55px;
            width: 20%;
         }
    div .finishing{
        font-family: Verdana; 
        background-color: rgb(21 114 147);
        text-align: center;
        color: white;
        padding: 15ch 0ch 20ch 0ch;
        margin-top:-1px;
        line-height: 3em;
    }
    
    .finishing a{
        color:white;
        text-decoration: dotted;
        font-size: 45px;
        font-family:auto
    }
    .finishing h3{
    font-size: 35px;
    }
    img.icons{
        width: 45px; 
        height: 45px;
       
    }
}